POSTGRES_USER=gitea
POSTGRES_PASSWORD=change_me
POSTGRES_DB=gitea

GITEA__database__DB_TYPE=postgres
GITEA__database__HOST=postgres:5432
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=change_me

GITEA__security__SECRET_KEY=change_me
GITEA__security__INTERNAL_TOKEN=change_me
